
animate/Build/*

animate/animate.xcodeproj/project.xcworkspace/xcuserdata/wugang.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

animate/animate.xcodeproj/project.xcworkspace/xcuserdata/wugang.xcuserdatad/UserInterfaceState.xcuserstate
